# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# Runtime state
*.log
last_modified.json

# Local copies
nc_etl_localWin.py
recreate_masters_localWin.py
nc_etl_localMac.py
recreate_masters_localMac.py

# OS cruft
.DS_Store
Thumbs.db
